/* MACK EDIT 2020 06 15: BEGIN STYLING

/* Style for document text */
body{
    color: #232240;
}

p, h1, h2, h3, h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
}

h1, h2 {
    font-weight: 500;
}

h3 {
    letter-spacing: 3px;
    font-weight: 400;
}

#buttonStyle {
    color: #232240;
    background-color: #F2D5C4;
    margin: 12%;
}

/* NAVIGATION */

/* Items */
.navItem {
    white-space: pre;
}

.navItem > img {
    width: 40%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 10%;
}

/* HOME PAGE */

/* Header */
#headingStyle {
    margin-top: 7%;
    margin-left: 5%;
}

/* Drink Icons */
.glassContainer {
    margin-top: 5%;
    margin-right: 10%;
}

.glassItem {
    width: 30%;
}

#moodText {
    margin-top: 2%;
    margin-left: 5%;
}

/* This moves to line with glasses */
#optionDrop {
    margin-left: 5%;
}

/* Choose from Options */
.dropDownLabel {
    padding: 20px 10px 10px 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    color: #232240;
}

#randomGlassSubmit {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    color: #232240;
    background-color: #F2D5C4;
}

/* Random Drink Generator Section */

#randomDrink {
    display: none;
}

/* FOOD PAGE */

/* DRINK PAGE */

/* USER PAGE */